html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2
}

*, *::before, *::after {
  box-sizing: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: ,5rem;
}
h1, h2, a {
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
}

header .logo {
  width: 2rem;
  order: -1;
  margin-right: .5rem;
}

header p {
  margin: .5rem auto;
  font-size: 1.125rem;
}

nav ul {
  margin: .5rem;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  font-size: 1.125rem;
}

nav a, nav a:visited {
  color: #0074d9;
  text-decoration: none;
  padding: .7em 1em .6em;
  border-radius: 8px;
}
